<!DOCTYPE html>
<html lang="en">
  <head>
    <meta Content-Security-Policy: default-src self>
    <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://www.edamam.com; child-src 'none'; object-src 'none'"> -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src *;
   img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
   style-src  'self' 'unsafe-inline' *"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HungryVegan</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <% if (currentUser) { %> 
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            <li> <a href="/search">Search Page</a></li>
            <li> <a href="/recipes/favorites">Favorite Recipes</a></li>    
            <li> <a href="/recipes/usersrecipe">Created Recipes</a></li>  
            <li> <a href="/recipes/create">Create</a></li>  

            <% } else { %>
              <li><a href="/auth/signup">Signup</a></li>
              <li><a href="/auth/login">Login</a></li>
          <% } %> 
        </ul>
      </nav>
    </header>
    <h1>Hungry Vegan</h1>
    <%- include('./partials/alerts') %>
    <%- body %>
   
  </body>
</html>
