<h1>Results here</h1>
    <% console.log('ðŸ„',currentUser) %>
    <ul>
        <!-- all recipes and then select an individual recipe -->
        <div class="container">
            <div class="recipeCollection">
                <% results.forEach(function(result) { %>
                    <li>                
                        <% let encoded = encodeURIComponent( result.recipe.uri ); %>
                        <%console.log('ðŸ¤¡',encoded)%>
                        <h3> Recipe: <%= result.recipe.label %></h3> 
                        <a href="/recipes/results/<%= encoded %>">View Recipe</a>
                            <% }); %>                            
                    </li>
             </div>    
        </div>
    </ul>