<h1>Results here</h1>
    <ul>
        <% results.forEach((result) => { %>
            <li>
                <h3><%=result.recipe.label %> </h3>       
                <form action="/recipes/favorites"method="POST">
                    <input hidden type="text" name="label" value="<%= result.recipe.label %>">
                    <input hidden type="text" name="uri" value="<%= result.recipe.uri.split('#recipe_').pop()%>">
                    <input hidden type="text" name="image" value="<%= result.recipe.image %>">
                    <button id="faveButton" type="submit">Add to favorites</button>
                </form>
            </li>
      <%  }); %>
    </ul>