<h2>Search Page</h2>
    <form method="GET" action="/results">
        <label for="searchInput">Type in what you have in your kitchen</label>
        <input id="searchInput" type="text" name="searchInput">
        <button id= "searchButton" type="submit" >Look up</button>
    </form>