<h2>Search Page</h2>
    <form method="GET" action="/results">
        <label for="searchInput1">Type in what you have in your kitchen</label>
        <input id="searchInput1" type="text" name="searchInput1">
        <label for="searchInput2">Add a second ingredient if you have any </label>
        <input id="searchInput2" type="text" name="searchInput2">
        <button id= "searchButton" type="submit" >Look up</button>
    </form>